{cover_enabled, true}.
{deps, [
	{ex_fcgi, "1.0.0",
		{git, "git://github.com/extend/ex_fcgi.git", {tag, "1.0.0"}}},
	{cowboy, "0.6.1",
		{git, "git://github.com/extend/cowboy.git", {tag, "0.6.1"}}}
]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{erl_opts, [
%%	bin_opt_info,
%%	warn_missing_spec,
	warnings_as_errors,
	warn_export_all
]}.
